/* Designed for base screen width of 320px = 20em */

/**********************/
/** UNIVERSAL STYLES **/
/**********************/

/** DOM **/
body {
    font-family: 'Merriweather', serif;
    background-color: hsl(0, 0%, 90%);
    z-index: 1;
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
}

main h1 {
    display: none;
}

main #content
{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

main #content p
{
    text-align: justify;
}

p {
    font-size: 0.875rem;
    line-height: 1.7;
}

input, select, textarea, button {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}

input.hidden {
    display: none;
}

details, summary {
    margin-bottom: 0.5rem;
}

summary {
    font-weight: bold;
}

/** Classes **/
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/************/
/** HEADER **/
/************/

header {
    position: fixed;
    width: 100%;
    height: 3.125rem;
    background-color: hsl(240, 100%, 20%);
    color: hsl(0, 0%, 90%);
    text-align: left;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    font-family: 'Lato', sans-serif;
}

header #nav_logo {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

header #nav_logo a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
}

/* @temp Until I can figure out what to do with the text */
header div#hgroup {
    overflow: hidden;
}

header div#hgroup > * {
    display: inline-block;
}

header h1,
header h2 {
    margin: 0;
}

header h1 {
    height: 2.875rem;
    line-height: 2.875rem;
    font-size: 2.875rem;
    margin-right: 0.3125rem;
    font-family: Lato, sans-serif;
}

header h1 .accent1 {
    font-weight: 900;
    color: hsl(0, 0%, 90%);
}

header h1 .accent2 {
    font-weight: 700;
    color: #fc3;
}

header h1 .accent3 {
    font-weight: 400;
    color: #f03;
}

header h2 {
    height: 2.625rem;
    line-height: 1.3125rem;
    font-size: 0.9375rem;
    font-weight: bold;
}

header #logo {
    height: 2.875rem;
    width: 2.875rem;
    margin: 0.125rem 0.3125rem 0.125rem 0.625rem;
    background: transparent url(/assets/img/logo-46px.png) scroll no-repeat center;
}

/*********/
/** NAV **/
/*********/

/* Hamburger menu */
#hamburger {
    font-size: 1.5625rem;
    background-color: transparent;
    height: 100%;
    line-height: 3.125rem;
    width: 3.125rem;
    cursor: pointer;
    border: 0;
    color: hsl(0, 0%, 90%);
    text-align: center;
    z-index: 102;
}

/*************/
/** NEW NAV **/
/*************/

#social_header {
    margin: 0.25rem 1rem;
    line-height: 2.625rem;
    font-size: 2rem;
    display: none;
}

#social_header .social {
    color: hsl(0, 0%, 90%);
}

#social_header .social.msg {
    margin-left: 1rem;
}

nav {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
    margin: 0;
    width: 100%;
    display: none;
}

nav.active {
    display: block;
}

nav ul#pages {
    list-style-type: none;
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

}

nav ul#pages li {
    margin: 0;
    display: inline-block;
    width: 33.3%;
}

nav ul#pages li a {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    display: inline-flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 1.45rem;
    letter-spacing: -0.05rem;
    padding: 1rem 0;
}

nav ul#pages li.donate a {
    background-color: hsl(120, 100%, 13%);
}

nav ul#pages li a i {
    font-size: 2.125rem;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

nav ul#pages li a:hover i {
    transform: translateY(-0.125rem);
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

nav ul#pages li a:hover span {
    transition-delay: 0s !important;
}

nav ul#social_nav {
    list-style-type: none;
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav ul#social_nav li {
    margin: 0;
    display: inline-block;
    text-align: center;
}

nav ul#social_nav li a {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 1rem;
    font-size: 1.75rem;
}

/*************/
/** CONTENT **/
/*************/

#content_area {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    margin: 0;
    padding-top: 3.125rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
}

/** Hero Image **/
#hero {
    margin: 0 0 0.5rem;
}

#hero figure {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

#hero img {
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 2;
    display: block;
}

#hero figcaption {
    position: absolute;
    z-index: 4;
    pointer-events: none;
}

#hero figcaption a {
    pointer-events: auto;
}

/************/
/** FOOTER **/
/************/

footer {
    width: 100%;
    position: relative;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding: 0.5rem;
    font-size: 1.625rem;
    font-weight: bold;
}

/********************/
/** @media QUERIES **/
/********************/

/** 20em and larger **/
@media only screen and (min-width: 20em) {
    p {
        font-size: calc(0.875rem + (1.25 - 0.875) * ((100vw - 20rem) / (54 - 20)));
    }

}

/** 39em and larger **/
@media only screen and (min-width: 39em) {
    nav ul#pages {
        flex-flow: row nowrap;
    }

    nav ul#pages li {
        width: 11.1%;
    }

    #social_header {
        display: block;
    }

    nav ul#social_nav {
        display: none;
    }
}

/** 54em and larger **/
@media only screen and (min-width: 54em) {
    p {
        font-size: 1.25rem;
    }

    #hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul#pages {
        flex-flow: column nowrap;
        margin: 0.5rem 0;
    }

    nav ul#pages li {
        width: 100px;
    }

    nav ul#pages li a {
        padding: 0.5rem 0;
    }

    nav ul#pages li.donate a {
        background-color: transparent;
    }

    nav ul#pages:hover li.donate a {
        background-color: hsl(120, 100%, 13%);
    }

    nav ul#pages li a i {
        font-size: 2.5rem;
    }

    nav ul#pages li a span {
        opacity: 0;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -ms-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
    }

    nav ul#pages:hover li a span {
        opacity: 1;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -ms-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    nav ul#pages:hover li:nth-child(2) a span {
        transition-delay: 40ms;
    }

    nav ul#pages:hover li:nth-child(3) a span {
        transition-delay: 80ms;
    }

    nav ul#pages:hover li:nth-child(4) a span {
        transition-delay: 120ms;
    }

    nav ul#pages:hover li:nth-child(5) a span {
        transition-delay: 160ms;
    }

    nav ul#pages:hover li:nth-child(6) a span {
        transition-delay: 200ms;
    }

    nav ul#pages:hover li:nth-child(7) a span {
        transition-delay: 240ms;
    }

    nav ul#pages:hover li:nth-child(8) a span {
        transition-delay: 280ms;
    }

    nav ul#pages:hover li:nth-child(9) a span {
        transition-delay: 320ms;
    }

    nav ul#pages:hover li:nth-child(10) a span {
        transition-delay: 360ms;
    }

    nav ul#pages:hover li:nth-child(11) a span {
        transition-delay: 500ms;
    }

    nav ul#pages:hover li:nth-child(12) a span {
        transition-delay: 550ms;
    }

    #content_area {
        flex-flow: row nowrap;
        align-items: stretch;
    }

    nav {
        display: block;
        width: 100px;
    }

    main {
        width: calc(100% - 100px);
    }
}
